<div class="hdr">
  {{>headerDark}}
</div>

<main class="hero">
  {{#with hero}}
  <div class="hero_title">{{title}}</div>
  <p class="hero_descrip">{{description}}</p>
  <a href="{{button.url}}" class="button">{{button.text}}</a>
  {{/with}}
</main>

<div class="about">
  <strong class="about_title">{{about.heading}}</strong>
  <p class="about_text">{{about.info}}</p>
</div>

<div class="last_block">
  <div class="block">
    <div class="block_title">Our Articles</div>

    <div class="view">View All</div>
  </div>

  <div class="articles">
    {{#each articles}}
    {{>cardDark data=this}}
    {{/each}}
  </div>
</div>

<div class="footer">
  {{>footerDark}}
</div>